.suggestion-container {
    position: absolute;
 
    margin-top:-190px;
    z-index: 999;
    background-color: #cbcbcb; 
    border: 3px solid #000000;
    border-radius: 5px;
    height: 150px;
    width: 195px;
}

