.header-background {
    position: relative;
    height: 100px; 
    background: linear-gradient(135deg,rgb(58, 122, 225)30%,rgb(157, 187, 246) 100%);
    z-index: 999;
}

.header-title {
    margin-left: 5vw; 
    height: 80px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.bell-icon {
    color: rgb(243, 206, 0);
    font-size: 2rem;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
    cursor: pointer;
    transition: transform 0.2s ease-in-out, filter 0.4s ease-in-out; 
}

.bell-icon:active {
    transform: scale(0.9); 
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));
}

.header-user-container {
    position: absolute;
    right: 2vw;
    display: flex;
    align-items: center;
}

.bell-icon-container {
    position: relative;
    display: inline-block; 
    margin-right:30px;
}

.notification-count {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    font-size: 10px;
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}